
@font-face {
    font-family: Poppins;
    src: url(assets/fonts/Poppins/Poppins-Regular.ttf);
    font-family: Roboto;
    src: url(assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}


body{

    font-family: Roboto;
    background-color: rgb(57, 15, 97);
    color:white;
    /* text-align: center; */
    text-align: justify;
}

h1,h2,h3{
    font-family: Poppins;
    font-weight: bold;
}
a{
    color:aqua;
}



.navigation{
    display: flex;
    /* justify-self: ; */
    justify-content: center;
    align-items:center;
    *{
        margin-left: 1rem;margin-right: 1rem;
    }
}



.box-center{
    /* background-color: lightgray; blueviolet; */
    background-color: blueviolet;
    border: thin black solid;
   text-align: justify;
   border-radius: 5px;
   padding: .5rem;
}
.homeHeader{

}