:root{

}
body{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    /* background-image: url("assets/rb_63441\(2\).png"); */
    /* background-image: linear-gradient(to bottom right,yellow,black); */
    background-color: rgb(57, 15, 97);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}
a{
    color: aqua;
}
.navigation{
    display: flex;
    /* justify-self: ; */
    justify-content: center;
    align-items:center;
    *{
        margin-left: 1rem;margin-right: 1rem;
    }
}
.pfp_div{
    display: flex;
    justify-content: center;
}
.pfp{
    /* width: 15rem; */
    height: 15rem;
    display: flex;
    aspect-ratio: 4/5;

}
.box-center{
     /* background-color: lightgray; blueviolet; */
     background-color: blueviolet;
     border: thin black solid;
    text-align: justify;
    border-radius: 5px;
    /* width: 75%; */
    /* width: fit-content; */
    padding: .5rem;
    /* color:white; */
}
.box-center a{
    /* .box-center>a =/= .box-center a */
    text-decoration: none;
    /* color: rgb(11, 116, 148); */
    color: aqua;
    font-weight: bold;

    
}
.homeHeader{
    text-align: center;
}
.section--detailsOne{
    display: flex;
    flex-direction: column;


}
.aboutMe{
    
}
.section--detailsOne--text{

}
.scroll-list-item{
    max-height: 50px;
}
.showcase-item-main{
    background-color: cornflowerblue;
    max-width: 80%;/*800px; max-height: 200px;*/
    max-height: 20%;align-items: center;justify-content: flex-end;
    display: flex;border-radius: 20px;border-style: dotted;/*280px;*/
    height: 500px;margin-top: 1%;margin-bottom: 1%;

    
    /*text-align: right;*/
}
.showcase-item-main>a{
    text-decoration: none;
}
.scrolllist_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color:aqua; */
    overflow-x: scroll;
    height: 30rem;
    /* width: 75%; */
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.scrolllist_item{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* image aspect ratio = 3/2 */
    img{
        height: 10rem;
         width:15rem; /*10rem; */
    }
    a:hover{
        img{
             transition: all .3s;
        /* height: 15rem;width: 20rem; */
        box-shadow: 0 0 .5rem .3rem hsl(194, 86%, 31%);
        /* hsl(47, 88%, 63%) */
        }
       
    }
    a{
        margin-bottom: 0;
    }

}
.contact{
    img{
        width: 3rem;
        height: 3rem;
    }
    img:hover{
        background-color: hsl(194, 86%, 31%);
    }
}
/* going for a mobile first view */
/* settings here are for  tablet and desktop/laptop screens */
@media (min-width:800px){
    /* .showcase-item-main>*{
        font-weight: bold;
    } */
     .scrolllist_main{
        flex-direction: row;
        height: auto;
     }
     .scrolllist_item{
        img{
            width: 45rem;
            height: 30rem;
        }
     }
     .section--detailsOne{
        flex-direction: row;
        justify-content: space-evenly;
     }
     .section--detailsOne--text{
        display: flex;
        flex-direction: column;
        max-width: 32rem;
        text-align: start;
        justify-content: center;
     }
     .pfp{
        height: 35rem;
     }

}
/* @media (max-width:800px) {
    
} */